.mv-contact-line {
    align-items: center;
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 1vh;
    width: 100%;
}

.mv-contact-line > svg {
    color: var(--white);
    font-size: 26px;
    margin-right: 12px;
}

.mv-contact-line > p {
    color: var(--white);
    font-weight: 300;
    padding-top: 2vh;
}

@media screen and (max-width: 1280px){
    .mv-contact-line {
        flex-direction: column;
        justify-content: center;
        margin-top: 2vh;
        width: 100%;
    }
    .mv-contact-line > p {
        padding-top: 6px;
        text-align: center;
    }
}